html {
  background-color: lavenderblush;
}
body {
  margin: 0%;
}

h2 {
  font-family: monospace; font-size: 31px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 12.1px;
  text-align: left;
  padding-left: 2%;
}
h4 {
  font-family: monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 12.1px;
  text-align: left;
  padding-left: 2%;
}

header {
  background: #d8bfd8;
  padding-top: 2%;
  border-bottom: 4px solid snow;
}

.navigation {
  text-align: left;
}
.border {
  border: 2px solid silver;
  border-style: ridge;
  padding: 6px;
  background-color: snow;
  background-image: linear-gradient(lavender, thistle);
  border-radius: 5px;
  font-family: monospace; font-size: 16px; font-style: normal;
  text-decoration: none;
}

header {
  background: #d8bfd8;
  padding-top: 2%;
  border-bottom: 4px solid snow;
}
.welcome {
  border-bottom: dotted 2px purple;
  text-align: center;
  font-family: monospace; font-size: 16px; font-style: normal;
}
.map-mania {
  display: flex;
  border-top: dotted 2px purple;
  width: 100%;

}
.map {
  flex: 40%;
  padding: 5px;
  margin: 3px;
}

.other {
  flex: 60%;
  padding: 5px;
  margin: auto;
  text-align: center;
  font-weight: lighter;
  font-family: monospace; font-size: 16px; font-style: normal;
}
.title {
  font-weight: bold;
}
.chicken {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.slide-show-render-full .slide-image {
  height: 100%;
  max-height: 633px;
  max-width: 844px;
  }
  
  .slide-show-render-full .slide-content {
  height: 633px;
  width: 844px;
  }
  .slide-show-render .slides {
  height: 633px;
  }
  
  .slide-show-render.slide-show {
  height: 633px;
  margin: 0 0 20px -60px;
  }
  .slide-show {
  width: 844px;
  }
